@import './../../styles/variables.scss';

#main-destination {
  background: url(../../assets/destination/background-destination-mobile.jpg) no-repeat center bottom/cover;
  padding: 8rem 0.5rem;
  // min-height: 100vh;
  grid-template-areas:
    'title'
    'image'
    'tabs'
    'content';

  @include breakpoint(24em) {
    background: url(../../assets/destination/background-destination-tablet.jpg) no-repeat center center/cover;
  }

  @include breakpoint(48em) {
    background: url(../../assets/destination/background-destination-desktop.jpg) no-repeat center center/cover;
    column-gap: 3rem;
    grid-template-areas:
      '. title title .'
      '. image tabs .'
      '. image content .';
  }

  .destination {
    &__title {
      grid-area: title;
      font-size: $fs__16px;
      margin-bottom: 32px;

      @include breakpoint(24em) {
        justify-self: start;
        margin-top: 2rem;
      }

      @include breakpoint(48em) {
        font-size: $fs__28px;
      }
    }

    &__img {
      grid-area: image;
      max-width: 100%;
      margin-bottom: 26px;
      align-self: center;

      @include breakpoint(24em) {
        max-width: 60%;
      }

      @include breakpoint(48em) {
        max-width: 90%;
      }
    }

    &__name {
      font-size: $fs__56px;
      margin-bottom: 1px;

      @include breakpoint(48em) {
        font-size: $fs__100px;
      }
    }
    &__buttons {
      grid-area: tabs;
      margin-bottom: 20px;
    }

    &__info {
      grid-area: content;

      p {
        font-family: $ff__sans__barlow__normal;
        font-size: $fs__15px;

        @include breakpoint(24em) {
          font-size: $fs__16px;
        }

        @include breakpoint(48em) {
          font-size: $fs__18px;
        }
      }
    }

    &__meta {
      flex-direction: column;
      border-top: 1px solid $clr__border;
      padding-top: 2.5rem;
      margin-top: 2.5rem;
      font-size: $fs__15px;

      p {
        font-size: 1.75rem;
        margin-bottom: 32px;

        @include breakpoint(48em) {
          font-size: $fs__28px;
        }
      }

      @include breakpoint(24em) {
        flex-direction: row;
        justify-content: space-evenly;
      }

      @include breakpoint(48em) {
        gap: 6rem;
        justify-content: start;
      }
    }
  }
}
