@import '../../styles/variables.scss';
@import '../../styles/_utilities.scss';

.dot-indicators > * {
  cursor: pointer;
  border: 0;
  border-radius: 50%;
  aspect-ratio: 1;
  padding: 0.313em; // 10px x 10px
  margin-right: 1rem;
  margin-bottom: 2rem;

  @include breakpoint(24em) {
    margin-top: -20px;
  }

  @include breakpoint(48em) {
    padding: 0.469rem; // 15px x 15px
  }
}
