//  colors
$clr__dark: hsl(230, 35%, 7%);
$clr__light: hsl(231, 77%, 90%);
$clr__white: hsl(0, 0%, 100%);
$clr__dark: hsl(230, 35%, 7%);
$clr__light: hsl(231, 77%, 90%);
$clr__white: hsl(0, 0%, 100%);
$clr__alpha: 0.8;

// font-sizes
$fs__900: 9.375rem;
$fs__800: 6.25rem;
$fs__700: 3.5rem;
$fs__600: 2rem;
$fs__500: 1.75rem;
$fs__400: 1.125rem;
$fs__300: 1rem;
$fs__200: 0.875rem;

// font-families
$ff__serif: "Bellefair", serif;
$ff__sans__cond: "Barlow Condensed", sans-serif;
$ff__sans__normal: "Barlow", sans-serif;

// gap
$gap: 1rem;
