@import './../../styles/variables.scss';

.skip-to-content {
  position: absolute;
  z-index: 9999;
  padding: 0.5em 1em;
  margin-inline: auto;
  text-decoration: none;
  transform: translateY(-100%);
  transition: transform 250ms ease-in;
}

.skip-to-content:focus {
  transform: translateY(0);
}

#main-home {
  background: url(../../assets/home/background-home-mobile.jpg) no-repeat center bottom/cover;
  padding: 8rem 0.5rem 1rem 0.5rem;
  min-height: 100vh;
  grid-template-areas:
    'title'
    'text-container'
    'explore-btn';

  @include breakpoint(24em) {
    background: url(../../assets/home/background-home-tablet.jpg) no-repeat center center/cover;
    padding: 8rem 0.5rem 3.5rem 0.5rem;
  }
  @include breakpoint(48em) {
    background: url(../../assets/home/background-home-desktop.jpg) no-repeat center center/cover;
    grid-template-columns: minmax(1rem, 1fr) minmax(0, 55rem) minmax(0, 1fr) minmax(1rem, 12rem);
    padding: 15rem 0.6rem 0.5rem 0.6rem;
    grid-template-areas:
      '. title explore-btn .'
      '. text-container explore-btn .';
  }

  .home {
    &__title-container {
      grid-area: title;
      align-self: end;

      &__title {
        font-size: $fs__16px;

        @include breakpoint(48em) {
          padding-top: 1.2rem;
          font-size: $fs__28px;
        }

        span {
          font-size: $fs__80px;

          @include breakpoint(24em) {
            font-size: $fs__150px;
          }
        }
      }
    }

    &__paragraph-container {
      grid-area: text-container;

      @include breakpoint(48em) {
        align-self: start;
        max-width: 40%;
      }

      &__paragraph {
        font-size: $fs__15px;
        line-height: 1.9;

        @include breakpoint(24em) {
          font-size: $fs__16px;
        }

        @include breakpoint(48em) {
          font-size: $fs__18px;
          padding-top: 0.2rem;
          padding-bottom: 2.1rem;
          min-width: 45ch;
        }
      }
    }

    &__large-button-container {
      grid-area: explore-btn;
      align-self: end;

      @include breakpoint(48em) {
        align-self: center;
        justify-self: center;
        margin-top: 5rem;
      }

      &__large-button {
        font-size: 1.5rem;
        position: relative;
        padding: 0 2em;
        display: inline-grid;
        place-items: center;
        // instead of height and width
        aspect-ratio: 1;
        text-decoration: none;
        border-radius: 50%;
        z-index: 1;

        &::after {
          content: '';
          position: absolute;
          z-index: -1;
          width: 100%;
          height: 100%;
          background: hsla(hue($clr__white), saturation($clr__white), lightness($clr__white), 0.15);
          border-radius: inherit;
          opacity: 0;
          transition: opacity 500ms linear, transform 500ms ease-in-out;
        }

        &:hover::after,
        :focus::after {
          opacity: 1;
          transform: scale(1.5);
        }

        @include breakpoint(48em) {
          width: 274px;
          height: 274px;
          font-size: $fs__32px;
          letter-spacing: 2px;
          place-content: center;
        }
      }
    }
  }
}
