@import './../../styles/variables.scss';

.header {
  position: absolute;
  margin-block: 2rem;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  // transition: 0.3s ease all;

  @include breakpoint(48em) {
    margin-block: 2.5rem;
  }

  @media screen and (min-width: 24em) and (max-width: 48em) {
    margin-block: 0;
  }

  &__content {
    overflow: hidden;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__logo {
      margin: 1.5rem clamp(1.5rem, 5vw, 3.5rem);
      width: 40px;
      height: 40px;
    }

    &__primary-navigation {
      list-style: none;
      padding-inline: 2rem;
      margin: 0;
      flex-direction: column;
      position: fixed;
      top: 5rem;
      left: 1rem;

      @include breakpoint(24em) {
        gap: clamp(1.5rem, 5vw, 3.5rem);
        position: inherit;
      }

      a {
        text-decoration: none;
      }

      a > span {
        font-weight: 700;
        margin-right: 0.5em;

        @media screen and (min-width: 24em) and (max-width: 48em) {
          display: none;
        }
      }

      @include breakpoint(24em) {
        padding-inline: clamp(3rem, 8.5vw, 9rem);
      }
    }

    &__primary-navigation.underline-indicators > .active {
      border: 0;
    }

    &__nav {
      inset: 0 0 0 30%;
      position: fixed;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: hsla(hue($clr__white), saturation($clr__white), lightness($clr__white), 0.04);
      backdrop-filter: blur(1rem);
      transform: translate(100%);
      transition: 0.3s ease transform;
      z-index: 1000;
      padding: 1rem 0 0.5rem 0;

      @supports (backdrop-filter: blur(81.5485px)) {
        background-color: hsla(hue($clr__white), saturation($clr__white), lightness($clr__white), 0.04);
        backdrop-filter: blur(81.5485px);
      }

      ul {
        @include breakpoint(24em) {
          flex-direction: row;
        }

        li {
          &:not(:last-child) {
            @include breakpoint(24em) {
              margin-bottom: 0;
            }
          }

          @include breakpoint(48em) {
            align-items: center;
          }
        }

        @media screen and (min-width: 24em) and (max-width: 48em) {
          max-width: 100%;
          padding-right: 2rem;
        }
      }

      &.isMenu {
        transform: translate(0);
      }

      @include breakpoint(24em) {
        inset: 0 0 0 10%;
        transform: none;
        height: 6rem;
        position: static;
      }

      @include breakpoint(48em) {
        padding: 0.5rem 0 0.5rem 0;
        justify-content: center;
        display: flex;
      }

      @media screen and (min-width: 24em) and (max-width: 48em) {
        max-width: 80%;
        font-size: $fs__14px;
      }
    }

    &__toggle {
      cursor: pointer;
      display: flex;
      align-items: center;
      font-size: 2rem;
      transition: 0.3s ease all;
      z-index: 10000;

      &:hover {
        color: hsla(hue($clr__white), saturation($clr__white), lightness($clr__white), 0.5);
      }

      @include breakpoint(24em) {
        display: none;
      }
    }

    @include breakpoint(48em) {
      &::after {
        content: '';
        display: block;
        position: relative;
        height: 1px;
        z-index: 2000;
        margin-right: 0.5rem;
        background: hsla(hue($clr__white), saturation($clr__white), lightness($clr__white), 0.25);
        width: 100%;
        left: 2.4rem;
        order: 1;
      }
    }

    div {
      order: 2;
    }
  }
}
