@import "./../../styles/variables.scss";

.header {
  position: absolute;
  margin-block: 2rem;
  width: 100%;
  height: $headerHeight;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;

  @media screen and (min-width: 768px) and (max-width: 944px) {
    margin-block: 0;
  }

  transition: 0.3s ease all;

  &__content {
    overflow: hidden;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    // @include breakpoint(md) {
    //   margin: 0 2rem 0 2rem;
    // }

    &__logo {
      margin: 1.5rem clamp(1.5rem, 5vw, 3.5rem);
      width: 40px;
      height: 40px;
    }

    &__primary-navigation {
      list-style: none;
      padding-inline: 2rem;
      margin: 0;
      flex-direction: column;
      position: fixed;
      top: 5rem;
      left: 1rem;
      font-size: $fs__300;

      @include breakpoint(md) {
        gap: clamp(1.5rem, 5vw, 3.5rem);
        position: inherit;
      }

      a {
        text-decoration: none;
      }

      a > span {
        font-weight: 700;
        margin-right: 0.5em;

        @media screen and (min-width: 35em) and (max-width: 44.999em) {
          display: none;
        }
      }

      @include breakpoint(md) {
        padding-inline: clamp(3rem, 7vw, 7rem);
      }
    }

    &__primary-navigation.underline-indicators > .active {
      border: 0;
    }

    &__nav {
      inset: 0 0 0 30%;
      position: fixed;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background: rgba(32, 32, 32, 0.507);
      backdrop-filter: blur(1rem);
      transform: translate(100%);
      transition: 0.3s ease transform;
      z-index: 1000;

      @supports (backdrop-filter: blur(5rem)) {
        background: rgba(250, 250, 250, 0.04);
        backdrop-filter: blur(5rem);
      }

      @include breakpoint(md) {
        transform: none;
        // width: auto;
        height: 100%;
        position: static;
      }

      ul {
        @include breakpoint(md) {
          flex-direction: row;
        }

        li {
          &:not(:last-child) {
            @include breakpoint(md) {
              margin-bottom: 0;
            }
          }
        }
      }

      &.isMenu {
        transform: translate(0);
      }
    }

    &__toggle {
      cursor: pointer;
      display: flex;
      align-items: center;
      font-size: 2rem;
      transition: 0.3s ease all;
      z-index: 10000;

      // &:hover {
      //   color: $clr__dark;
      // }

      // &:focus-visible {
      //   outline: 5px solid white;
      //   outline-offset: 5px;
      // }

      @include breakpoint(md) {
        display: none;
      }
    }

    @include breakpoint(desktop) {
      &::after {
        content: "";
        display: block;
        position: relative;
        height: 1px;
        z-index: 2000;
        margin-right: 0.5rem;
        background: hsla(hue($clr__white), saturation($clr__white), lightness($clr__white), 0.25);
        width: 100%;
        left: 4rem;
        order: 1;
      }
    }

    div {
      order: 2;
    }
  }
}
