@import './../../styles/variables.scss';

#main-crew {
  background: url(../../assets/crew/background-crew-mobile.jpg) no-repeat center bottom/cover;
  padding: 8rem 0.5rem 1rem 0.5rem;
  grid-template-areas:
    'title'
    'image'
    'tabs'
    'content';

  @include breakpoint(24em) {
    background: url(./../assets/crew/background-crew-tablet.jpg) no-repeat center center/cover;
    padding: 0 0.5rem 0 0.5rem;
    grid-template-areas:
      'title'
      'content'
      'tabs'
      'image';
  }

  @include breakpoint(48em) {
    height: 100vh;
    background: url(../../assets/crew/background-crew-desktop.jpg) no-repeat center center/cover;
    grid-template-columns: minmax(1rem, 1fr) minmax(0, 42rem) minmax(0, 27rem) minmax(1rem, 1fr);
    justify-items: start;
    column-gap: 2rem;
    grid-template-areas:
      '. title image image'
      '. content image image'
      '. tabs image image';
  }

  .crew {
    &__title {
      grid-area: title;
      font-size: $fs__16px;
      margin-bottom: 2rem;

      @include breakpoint(24em) {
        justify-self: start;
        margin-top: 5rem;
        padding-top: 5rem;
      }
      @include breakpoint(48em) {
        margin-top: 4.75rem;
        font-size: $fs__28px;
      }
    }

    &__dots {
      grid-area: tabs;

      button {
        background-color: hsla(hue($clr__white), saturation($clr__white), lightness($clr__white), 0.25);

        &:hover,
        :focus {
          background-color: hsla(hue($clr__white), saturation($clr__white), lightness($clr__white), 0.5);
        }

        &.active-dot {
          background-color: hsla(hue($clr__white), saturation($clr__white), lightness($clr__white), 1);
        }
      }
    }

    &__details {
      grid-area: content;

      &__role {
        font-size: $fs__16px;
        margin-bottom: 0.5rem;
        opacity: 0.5;

        @include breakpoint(24em) {
          font-size: $fs__24px;
        }

        @include breakpoint(48em) {
          font-size: $fs__32px;
          margin-bottom: 0.8rem;
        }
      }

      &__name {
        font-size: $fs__24px;
        margin-bottom: 1rem;

        @include breakpoint(24em) {
          font-size: $fs__40px;
        }

        @include breakpoint(48em) {
          font-size: $fs__56px;
          margin-top: 0;
          margin-bottom: 1.7rem;
        }
      }
    }

    &__picture {
      grid-area: image;
      min-width: 100%;
      border-bottom: 2px solid $clr__border;
      margin-bottom: 2rem;

      @include breakpoint(24em) {
        margin-bottom: 1px;
      }

      @include breakpoint(48em) {
        margin-top: 7.5rem;
        border-bottom: none;
        margin-bottom: unset;
        align-self: end;
        justify-self: end;
      }

      &__img {
        max-width: 100%;
        margin: 0 auto;

        @include breakpoint(24em) {
          max-width: 60%;
        }

        @include breakpoint(48em) {
          min-width: 70%;
        }
      }
    }
  }
}
